.reviews {
	width: 100%;
}

.container {
	max-width: 100%;
}

.flexItemDark {
	max-width: 100%;
	padding: 1rem;
	background-image: linear-gradient(to bottom right, rgba(139, 52, 249, 0.9),rgba(139, 52, 249, 0.8), rgba(14,26,64,0.8)), url('../../images/darkCircles.png');
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.flexItemLight {
	max-width: 100%;
	background-color: var(--mainWhite);
	padding: 1rem;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c7bcd9' fill-opacity='0.3'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: contain;
	background-position: center;
}

.flexItem1,
.flexItem2 {
	margin: 4rem auto;
	max-width: 75rem;
}

.flexItem1 p {
	display: block;
	font-size: 1.1rem;
	color: var(--lightGray);
	margin-bottom: 1.5rem;
	line-height: 2rem;
	text-align: left;
	margin-top: 0.7rem;
}

.flexItem2 p {
	display: block;
	font-size: 1.1rem;
	line-height: 2rem;
	color: #262a93;
	margin-bottom: 1.5rem;
	text-align: right;
	margin-top: 0.7rem;
}

.client {
	width: 100%;
	margin: 2.5rem 0;
	display: flex;
	justify-content: space-between;
}

.profile {
	width: 15rem;
	transition: all 0.5s ease-in-out;
	border-radius: 50%;
	flex: auto;
}

.flexItemDark .content {
	width: 53rem;
	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 84%, 75% 100%, 50% 85%, 0 85%);
	padding: 1.5rem;
	flex: 0 1 auto;
	background-image: linear-gradient( rgba(0,0,0, 0.8), rgba(0,0,0,0.7));
	box-shadow: 6px 10px 25px var(--mainBlack);
	margin-left: 2rem;
	text-align: left;
}

.flexItemLight .content {
	width: 53rem;
	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 84%, 75% 100%, 50% 85%, 0 85%);
	padding: 1.5rem;
	height: auto;
	flex: 0 1 auto;
	/*background-color: rgba(38,42,147, 0.6);*/
	background-image: linear-gradient( rgba(0,0,0, 0.8), rgba(0,0,0,0.7));
	box-shadow: 6px 10px 25px var(--mainBlack);
	margin-right: 2rem;
	text-align: right;
	background-color: rgba(139, 52, 249, 0.9);
	background-image: linear-gradient( to bottom right, rgba(0,0,0, 0.8), rgba(0,0,0,0.7));
}

.content h3,
.content h5 {
	margin-bottom: 1rem;
	color: var(--lightPurple);
	font-weight: bold;
}

.content h3 {
	font-size: 1.8rem;
}

.content h5 {
	font-size: 1rem;
}

.content p {
	margin-bottom: 4rem;
	font-size: 1rem;
	color: var(--lightGray);
}

@media screen and (max-width: 900px) {
	.flexItem1 p,
	.flexItem2 p {
		text-align: center;
	}
	.flexItemDark .client {
		flex-direction: column;
		margin: 2rem auto;
	}
	.flexItemLight .client {
		flex-direction: column-reverse;
		margin: 2rem auto;
	}
	.profile {
		width: 60%;
		margin: 2rem auto;
	}
	.flexItemDark .content {
		width: 100%;
		margin-left: 0;
	}
	.flexItemLight .content {
		width: 100%;
		margin-right: 0;
	}
	.content h3,
	.content h5 {
		text-align: center;
	}
	.content p {
		padding-bottom: 2rem;
	}
}
