.navbar {
	width: 100%;
	background-color: var(--mainWhite);
	position: sticky;
	top: 0;
	z-index: 1000;
	visibility: hidden;
}

.container {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 1.5rem;
}

.toggleContainer {
	display: flex;
	justify-content: space-between;
}

.logoContainer {
	width: 6rem;
	transition: all 0.6s ease-in-out;
}

.logoContainer:hover {
	transform: scale(1.2);
}

.logo {
	width: 100%;
}

.linksContainer {
	list-style-type: none;
	text-align: right;
	align-self: center;
	justify-content: flex-end;
}

.route {
	font-size: 1rem;
	font-weight: 200;
	text-transform: capitalize;
	margin-left: 2.5rem;
}

.route:visited,
.route:link {
	color: var(--mainPurple);
}

.signin {
	border: 1px solid var(--lightPurple);
	border-radius: 1rem;
	font-size: 0.8rem;
	color: var(--lightPurple);
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	display: inline-block;
	transition: all 0.8s ease-in-out;
}

.demo {
	border: 1px solid var(--lightPurple);
	border-radius: 1rem;
	font-size: 0.8rem;
	background-color: var(--lightPurple);
	color: var(--mainWhite);
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	display: inline-block;
	transition: all 0.8s ease-in-out;
}

.signin:hover,
.demo:hover {
	transform: scale(1.2);
}

.toggle {
	display: none;
	font-size: 2rem;
	align-self: center;
	color: var(--mainPurple);
	cursor: pointer;
}

@media screen and (max-width: 1100px) {
	.container {
		flex-direction: column;
	}
	.linksContainer {
		display: none;
	}

	.toggleContainer {
		max-width: 100%;
	}
	.toggle {
		display: initial;
	}
}