.sidebar {
	width: 100%;
	position: sticky;
	height: 90vh;
	top: 0;
	background-color: var(--mainWhite);
  z-index: 100000;
  visibility: hidden;
}

.container {
	margin: 0 1.5rem 1rem 1.5rem;
}

.linksContainer {
	display: flex;
	flex-direction: column;

}

.route {
	color: var(--mainPurple);
	padding: 1rem 0.5rem;
	font-size: 1rem;
}

.route:hover {
	background-color: var(--lightGray);
}

.route:nth-child(7):hover,
.route:nth-child(8):hover {
	background-color: var(--mainWhite);
}

.signin {
	border: 1px solid var(--lightPurple);
	border-radius: 1rem;
	font-size: 0.8rem;
	color: var(--lightPurple);
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	display: inline-block;
	transition: all 0.8s ease-in-out;
}

.demo {
	border: 1px solid var(--lightPurple);
	border-radius: 1rem;
	font-size: 0.8rem;
	background-color: var(--lightPurple);
	color: var(--mainWhite);
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	display: inline-block;
	transition: all 0.8s ease-in-out;
}

.signin:hover,
.demo:hover {
	transform: scale(1.2);
}

