:root {
  --mainPurple: #6f42c1;
  --lightGray: #F5F5F5;
  --darkGray: #343a40;
  --mainWhite: #fff;
  --mainBlack: rgb(51,51,51);
  --lightPurple: #8b34f9;
  --mainBlue: #262a93; /*rgb(38,42,147)*/
}

*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signin {
  text-transform: uppercase;
  font-weight: bold;
}